@media all and (min-width: 480px) {
 
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.Login {
  margin-bottom: 8em;
}

#backIcon {
    color: white;
    text-align: left;
    position: absolute;
    left: 15px;
}
