.Calendar{
    width: 100vw;
}

.Previous{
    position: absolute;
    left: 10px;
}

.Next{
    position: absolute;
    right: 10px;
}


tr {
    width: 100vw;
}

th {
    width: 100px;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.calendarTitle {
    padding: 0px;
    border: 0px;
    display: inline-block;
}

.calendarTitleContainer {
    text-align: center;
    width: 100%;
    position: relative;
}

.List{
    text-align: center;
}