.Calendar{
    height: 100vh;
    width: 100vw;
}

.Previous{
    position: absolute;
    left: 20vw;
}

.Next{
    position: absolute;
    right: 20vw;
}


tr {
    width: 100vw;
}

th {
    width: 100px;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}