.App {
  position: relative;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  background-color: #005eb8!important;
}

.title{
  color: white;
  background-color: #005eb8;
  padding: 5px 5px;
  margin-bottom: 1em;
  text-align: center;
}

.menu {
  background-color: #f0f4f5;
  padding: 1em;
  text-align: center;
}

.yellowLine {
  height: 2px;
  background-color: #ffeb3b;
}

.footer {
  position:fixed!important;
  left:0px;
  bottom:0px;
  width:100%;
}

.footer a {
  color: white;
} 

.footerSpace{
  height: 10vh;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
